.signin-form{
    width: 50%;
    margin: 0 auto;
    margin-top: 150px;
    height: 100vh;
}
.signin-form input:not([type=checkbox]){
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border: 2px solid pink;
}
.signin-title{
    text-align: center;

}